.body{
    background-position: center;
    background-repeat: no-repeat;
    background-size:  cover;
    background-image: url('../images/1.jpeg')
    
}


.form1{
    
    padding: 20px;
    width: 100%;

}

.title{
    color: red
}

.title2{
    color: red
}

.button1{
    color:red
}